.loader {
  display: flex;
  align-items: center;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  animation: spin 1s linear infinite;
  stroke: #e2e8f0;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}